html, body {
    background-color: #F4F8FB;
    width: 100%;
    height: 100%;
}

.panel-detail {
    margin: 0;
}

.subTableToolBar a.link.add {
    background-color: #459FFF;
    color: #fff;
}

table.listTable tr.listRow td {
    cursor: pointer;
}

.page {
    width: 52%;
    margin: 30px 24% 0;
    padding: 30px 50px 0;
    float: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fff;
}

.page > h1 {
    text-align: center;
    font-size: 24px;
    color: #363E62;
}

div.title {
    margin: 40px 0 10px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #89969F;
}

div.title > p {
    color: #363E62;
    font-size: 18px;
    border-left: 5px solid #459FFF;
    padding: 3px 10px;
}

{
    /* width: 52%;
    margin: 0 24%;
    padding: 0 50px; */
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fff;
    font-size: 14px;
    color: #000;
}

div[type="subtable"] {
    /* width: 52%;
    margin: 0 24%; */
    width: 100%;
    margin: 0;
    padding: 0 50px;
    float: left;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.table-cell {
    display: table-cell;
    float: left;
    width: 100%;
}

.block {
    float: left;
    width: 50%;
    position: relative;
}

.block-oneline {
    width: 100% !important;
}

.import {
    color: #B10011;
}

.panel-toolbar {
    padding: 15px 15px 15px 10px;
    min-height: 30px;
    /* height: auto; */
    height: 45px;
}

.panel-toolbar a.link {
    font-size: 14px;
}

.panel-toolbar a.run,
.panel-toolbar a.agree,
.panel-toolbar a.goForward {
    background-color: #10C66B !important;
    border: 1px solid #10C66B;
    color: #fff;
}

.panel-toolbar a.reject,
.panel-toolbar a.rejectToStart,
.panel-toolbar a.abandon {
    background-color: #FAA525 !important;
    border: 1px solid #FAA525;
    color: #fff;
}

.panel-toolbar a.search,
.panel-toolbar a.save,
.panel-toolbar a.reset,
.panel-toolbar a.flowDesign,
.panel-toolbar a.setting,
.panel-toolbar a.history,
.panel-toolbar a.print,
.panel-toolbar a.copyTo,
.panel-toolbar a.copy,
.panel-toolbar a.detail,
.panel-toolbar a.sendMessage,
.panel-toolbar a.switchuser {
    background-color: #459FFF !important;
    border: 1px solid #459FFF;
    color: #fff;
}

.group {
    float: right;
    margin-right: 15px;
}

.block .title {
    margin: 11px 0;
    color: #4D4D4D;
}

.block .block-input,
.block .block-select,
.block .block-fx,
.block .block-inputfx,
.block .block-dx,
.block .block-ryxzq,
.block .block-sjxzq,
.block .block-fjsc,
.block .block-textarea {
    padding-right: 50px;
    margin: 10px 0;
    min-height: 20px;
}

.block .block-input span,
.block .block-select span,
.block .block-ryxzq span,
.block .block-sjxzq span,
.block .block-textarea span {
    display: inline-block;
    width: 100%;
    line-height: 30px;
    background-color: #F0F0F0;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    padding-left: 15px;
}

.block .block-fx,
.block .block-dx {
    line-height: 35px;
}

.block .block-ryxzq,.block .block-input {
    position: relative;
}

.block .block-ryxzq a.link,.block .block-input a.extend {
    position: absolute;
    right: 50px;
    display: block;
    top: 0;
    line-height: 34px;
    height: 34px;
    padding: 0 15px;
    background: #459FFF;
    color: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.block .block-ryxzq input,.block .block-input input {
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    box-sizing: border-box;
    border: 1px solid #E6E6E6;
}

.content:last-of-type {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.block .block-textarea textarea {
    width: 100% !important;
    max-width: 100%;
    box-sizing: border-box;
    outline: none;
}

.block .block-sjxzq input {
    width: 100%;
    border: 1px solid #459FFF;
    height: 36px;
    line-height: 36px;
    padding-left: 15px;
    box-sizing: border-box;
}

.block .block-fjsc a.link.selectFile {
    background-color: #459FFF;
    /* position: absolute;
    left: 0; */
}

div.attachement {
    margin-top: 20px;
}

.block .block-input input {
    border: 1px solid #E6E6E6;
    width: 100%;
    box-sizing: border-box;
    padding: 7px 15px;
}

.block .block-inputfx .l-text-wrapper {
    width: 100% !important;
    height: 35px !important;
}

.block .block-inputfx .l-text-wrapper .l-text {
    width: 100% !important;
    border: 1px solid #E6E6E6;
    height: 35px !important;
    line-height: 35px;
    padding-left: 15px;
    box-sizing: border-box;
    border-radius: 4px;
}

.block .block-inputfx input {
    padding: 0;
    height: 33px !important;
    width: 100% !important;
    box-sizing: border-box;
}

.block .block-inputfx .l-trigger,
.block .block-inputfx .l-trigger-hover,
.block .block-inputfx .l-trigger-pressed {
    height: 33px !important;
    top: 0;
    right: 3px;
    background: none;
    border: none;
}

.ztree {
    background-color: rgba(69, 159, 255, 0.1);
    border-color: rgba(69, 159, 255, 0.2);
}

.ztree li a {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ztree li a:hover {
    background: rgba(69, 159, 255, 0.7);
}

.l-dialog-title {
    background-color: #459FFF;
}

.table-grid th {
    border-right: none;
    border-bottom: none;
}

.table-grid tr {
    border: 1px solid #e4ecf3;
}

.table-grid td {
    border-bottom: none;
    border-right: none;
    text-align: center;
}

.block .block-select select {
    border: 1px solid #E6E6E6;
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
}

.block .block-fx > span {
    display: block;
    width: 100%;
    line-height: 35px;
}

.block .block-fx label {
    margin-right: 8px;
}

input[type="checkbox"],
input[type="radio"] {
    width: 15px;
    height: 15px;
    line-height: 15px;
    display: inline-block;
    text-align: center;
    vertical-align: sub;
    position: relative;
    margin-right: 10px;
}

input[type="checkbox"]::before,
input[type="radio"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #E6E6E6;
}

input[type="radio"]::before,
input[type="radio"]:checked::before {
    border-radius: 50%;
    top: -1px !important;
    left: -1px !important;
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
    content: "\2713";
    background-color: #459FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #E6E6E6;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.block .block-fx input[type="checkbox"],
.block .block-dx input[type="radio"] {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: sub;
    position: relative;
    margin-right: 10px;
}

.block .block-fx input[type="checkbox"]::before,
.block .block-dx input[type="radio"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #E6E6E6;
}

.block .block-dx input[type="radio"]::before,
.block .block-dx input[type="radio"]:checked::before {
    border-radius: 50%;
    top: -1px;
    left: -1px;
}

.block .block-dx input[type="radio"]:checked::before,
.block .block-fx input[type="checkbox"]:checked::before {
    content: "\2713";
    background-color: #459FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #E6E6E6;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.block .block-dx input[type="radio"]::before,
.block .block-dx input[type="radio"]:checked::before {
    border-radius: 50%;
    top: -1px;
    left: -1px;
}

input[type=text]:focus {
    outline: 1px solid #2196F3;
}

div[type="subtable"] {
    clear: both;
    padding-top: 20px;
}

td.formHead {
    border: none;
    background: none;
    color: #363E62;
    font-size: 18px;
    padding-bottom: 15px;
}

table.listTable tr.headRow {
    border: 1px solid #EBEEF5;
    background: #EBEEF5;
    height: 45px;
}

td.teamHead {
    background-color: transparent;
    border: none;
    color: #303133;
    text-align: center;
}

table.listTable th {
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #303133;
}

table.listTable tr.listRow td {
    border: none;
}

table.listTable tr.listRow td input {
    border: 1px solid #DCDFE6;
    width: 80%;
    padding-left: 10px;
    height: 20px;
    padding: 2px;
}

table.listTable tr.listRow {
    border: 1px solid #EBEEF5;
    height: 45px;
    line-height: 45px;
}

a.link.add {
    float: right;
}

input[readonly] {
    background-color: #F0F0F0;
}

/*子表*/
.listTable .inputText,
.listTable tr.firstRow {
	height: 30px;
}

.listTable select {
	height: 36px;
}

.listTable .headRow {
	border: 1px solid #EBEEF5;
	background: #EBEEF5;
	height: 45px;
	font-size: 14px;
	color: #303133;
	line-height: 45px;
	font-weight: bold;
}

.listTable .headRow>div {
	float: left;
	text-align: center;
}

.listTable .listRow {
	border: 1px solid #EBEEF5;
	border-top: none;
	font-size: 12px;
	line-height: 45px;
	float: left;
	width: calc(100% - 2px);
}

.listTable .listRow>div {
	float: left;
	text-align: center;
}

.listTable .listRow>div>.inputText,
.listTable .listRow>div>select {
	margin-top: 9px;
	width: 90%;
}

.listTable .listRow>div>a {
	cursor: pointer;
}

.listTable tr.special-td {
	background-color: #F5F7FA;
}

.listTable tr.special-td td {
	padding: 15px;
	text-align: left;
}

.listTable tr.special-td a {
	color: #459FFF;
	font-size: 14px;
	margin-right: 20px;
	padding-left: 25px;
	cursor: pointer;
}

.listTable tr.headRow {
	border: 1px solid #EBEEF5;
	background: #EBEEF5;
	height: 45px;
}

.listTable td.formHead {
	border: none;
	background: transparent;
	color: #363E62;
	font-size: 18px;
	padding-bottom: 15px;
}

.listTable td.teamHead {
	background-color: #F5F7FA;
	color: #4D4D4D;
	text-align: center;
	border: 1px solid #EBEEF5;
	font-weight: lighter;
	font-size: 16px;
	height: 41px;
}

.listTable td.teamHead.num {
	padding: 0px 20px;
}

.listTable td.formTitle {
	background-color: #fff;
	font-size: 14px;
	padding-right: 10px;
	width: 100px!important;
}

.listTable td.formInput {
	padding: 12px 0px;
}

.listTable td.formInput input {
	width: 95%;
	font-size: 14px;
	padding-left: 10px;
	height: 25px;
	padding: 2px;
}

.listTable th {
	border: 1px solid #EBEEF5;
	background-color: #F5F7FA;
	font-size: 14px;
	color: #4D4D4D;
	text-align: center;
	font-weight: lighter;
}

.listTable tr.listRow td {
	border: 1px solid #EBEEF5;
	text-align: center;
	font-size: 14px;
	word-break: break-word;
	line-height: 15px;
}
.listTable tr.listRow td input.Wdate {
	height: 36px;
    font-size: 14px;
    padding-left: 10px;
}
.listTable tr.listRow td .l-text-wrapper {
	height: auto !important;
    width: 96% !important;
}
.listTable tr.listRow td .l-text-wrapper .l-text {
	height: 30px !important;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #ced7e0;
}
.listTable tr.listRow td .l-text-wrapper .l-text input {
	width: 85% !important;
    height: 32px !important;
}
.listTable tr.listRow td span.attachement-span > span {
	max-width: 70%;
}
.listTable tr.listRow td span.attachement-span a.cancel {
	margin-left: 3px;
}
.listTable tr.listRow td div[name="div_attachment_container"],
.listTable td.formInput div[name="div_attachment_container"] {
	position: relative;
    float: left;
    width: 100%;
    padding-bottom: 40px;
}
.listTable tr.listRow td div[name="div_attachment_container"] a.link {
	left: 0;
}

.listTable tr.listRow {
	border: 1px solid #EBEEF5;
	height: auto;
	line-height: 45px;
	width: 100%;
	float: none;
}

.listTable tr.listRow td select,
.listTable tr.listRow td .inputText {
	border: 1px solid #DCDFE6;
	width: 80%;
	padding-left: 10px;
}

.listTable tr.firstRow {
	width: 100%;
}

.listTable tr.headRow {
	float: none;
}

.listTable td {
	border-left: 0;
}

.listTable td.teamHead.sm-title {
	text-align: left;
	border: 0px;
	padding: 10px 15px;
	height: 0px;
}

.listTable .oprate-item {
	position: relative;
}

.listTable .oprate-item a {
	color: #459FFF;
	font-size: 14px;
}

.listTable .oprate-item a.oprate {
	margin-left: 15px;
	width: 20px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;

}

.listTable .oprate-item a img {
	vertical-align: sub;
}

.listTable .child-menu {
	display: none;
	box-shadow: 2px 2px 5px #c1c1c1;
	width: 140px;
	position: absolute;
	background-color: #fff;
	text-align: left;
	padding-left: 15px;
	z-index: 9;
}

.listTable .child-menu>ul>li {
	height: 30px;
	line-height: 30px;
}

.listTable .child-menu>ul>li a {
	color: #666;
	display: block;
}

.listTable .child-menu>ul>li a:hover {
	cursor: pointer;
}

.listTable .listTable td.formHead p {
	border-left: 5px solid #459FFF;
	border-bottom: 1px dashed #89969F;
	padding: 4px;
	margin: 10px 0px;
	text-align: left;
	font-weight: lighter;
}


/* 弹出框iframe 唯一 能看到的class名：l-dialog-frame  类名:l-dialog-frame-tck */

.l-dialog-frame-tck {
	width: 500px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
}


/* 弹出框div 唯一 能看到的class名：l-dialog l-dialog-win  类名:l-dialog-tck */

.l-dialog-tck {
	width: 500px;
	left: 0 !important;
	right: 0;
	margin: 0 auto;
}

.l-dialog-tck .l-dialog-table {
	width: 100%;
	table-layout: fixed !important;
}

.l-dialog-tck .l-dialog-table input[type="checkbox"],
.l-dialog-tck .l-dialog-table input[type="radio"] {
	margin-bottom: 5px;
}

.l-dialog-tck .l-dialog-table .l-dialog-body,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table {
	width: 100% !important;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content {
	overflow-y: auto;
	padding: 3px 15px;
	height: auto !important;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table tr {
	font-size: 14px;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td input,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table tr input {
	font-size: 14px;
	height: 25px;
	width: 100% !important;
    border: 1px solid #CCCCCC;
    border-radius: 0px;
    box-sizing: border-box;
    padding-left: 10px;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2) {
	text-align: start;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div {
	width: 100% !important;
	/*margin-top: 1px;*/
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.link.selectFile {
	background: #459FFF;
	padding: 2px 10px;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div input.position,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div input.positions,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div input.user,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div input.users,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div input.org,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div input.orgs,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div input.role,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div input.roles {
	width: 80%;
	border-radius: 0;
	padding: 2px;
	padding-left: 10px;
	box-sizing: border-box;
	font-size: 13px;
	border: 1px solid #CCCCCC;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.position,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.positions,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.user,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.users,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.org,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.orgs,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.role,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.roles {
	background-color: #459FFF;
	color: #fff;
	padding: 0 10px;
	display: inline-block;
	height: 26px;
	line-height: 27px;
	text-align: center;
	width: 13.5%;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div .l-text {
	width: calc(100% - 2px) !important;
	border: 1px solid #CCCCCC
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div .l-text .l-text-field {
	width: calc(100% - 8px) !important;
	height: 21px !important;
	padding-left: 10px;
	font-size: 13px;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2) .l-trigger {
	height: 23px !important;
	right: 0;
	top: -1px;
	background: #459FFF;
	border: 1px solid #459FFF;
	width: 10px !important;
	cursor: default;
}
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2) .l-trigger-hover,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2) .l-trigger-pressed {
	background: #459FFF !important;
    border: 1px solid #459FFF !important;
    width: 10px !important;
    height: 23px !important;
    right: 0;
	top: -1px;
	cursor: default;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table .headRow {
	text-align: start;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table .inputText,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table select,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table textarea {
	width: 100% !important;
	border: 1px solid #CCCCCC;
	border-radius: 0px;
	box-sizing: border-box;
	padding-left: 10px;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table .Wdate {
	border-radius: 0px;
	box-sizing: border-box;
	padding: 2px;
	height: auto;
	width: 100%;
	padding-left: 10px;
	border: 1px solid #CCCCCC;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table select {
	line-height: 20px;
	padding: 2px 2px 2px 6px;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-buttons {
	background: #fff;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-buttons .l-dialog-btn-inner {
	background-color: #459FFF;
	color: #fff;
	border-radius: 3px;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-buttons .l-dialog-btn-inner .l-dialog-btn {
	margin-right: 17px;
}

/* 新增 */
.listTable tr.listRow td {
	padding: 5px 0;
}
.formTable-wrap.one .formTable .l-trigger,
.formTable-wrap.one .formTable .l-trigger-hover,
.formTable-wrap.one .formTable .l-trigger-pressed,
.formTable-wrap.four .formTable .l-trigger,
.formTable-wrap.four .formTable .l-trigger-hover,
.formTable-wrap.four .formTable .l-trigger-pressed {
	right:0px;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2) {
	position: relative;
	padding: 5px 2px !important;
}
.l-dialog-tck div.attachement {
	margin-bottom: 25px;
}
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.link.selectFile {
	position: absolute;
    bottom: 0;
    left: 0;
}
input[type="checkbox"]:disabled::before,
input[type="radio"]:disabled::before {
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	background: #ececec;
	width: 100%;
	height: 100%;
	border: 1px solid #E6E6E6;
}
.formTable .formInput div[name="div_attachment_container"] a.link {
    bottom: 0;
    top: auto;
}



/* 表类名 */
.sub-complete-grid {
	width: 60%;
    padding: 30px 60px;
    margin: 0 auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fff;
}
.sub-complete-grid  .table-grid th {
	border: 1px solid #EBEEF5;
    background-color: #F5F7FA;
    font-size: 14px;
    color: #4D4D4D;
    text-align: center;
    font-weight: lighter;
}
.sub-complete-grid .table-grid td {
	border: 1px solid #EBEEF5;
    text-align: center;
    font-size: 14px;
    word-break: break-word;
    line-height: 15px;
    padding: 10px 0;
}

/*图标*/
.listTable tr.special-td a:first-child{
	background: url(https://wvpn.qust.edu.cn/http/77726476706e69737468656265737421f2e74cd236257b44300d8db9d6562d/bpmx/styles/column/images/up.png) no-repeat left center;
}
.listTable tr.special-td a:nth-child(2){
	background: url(https://wvpn.qust.edu.cn/http/77726476706e69737468656265737421f2e74cd236257b44300d8db9d6562d/bpmx/styles/column/images/down.png) no-repeat left center;
}
.listTable tr.special-td a:nth-child(3){
	background: url(https://wvpn.qust.edu.cn/http/77726476706e69737468656265737421f2e74cd236257b44300d8db9d6562d/bpmx/styles/column/images/before.png) no-repeat left center;
}
.listTable tr.special-td a:nth-child(4){
	background: url(https://wvpn.qust.edu.cn/http/77726476706e69737468656265737421f2e74cd236257b44300d8db9d6562d/bpmx/styles/column/images/after.png) no-repeat left center;
}
.listTable tr.special-td a:last-child{
	background: url(https://wvpn.qust.edu.cn/http/77726476706e69737468656265737421f2e74cd236257b44300d8db9d6562d/bpmx/styles/column/images/del.png) no-repeat left center;
}
.listTable .oprate-item a.oprate {
    background: url(https://wvpn.qust.edu.cn/http/77726476706e69737468656265737421f2e74cd236257b44300d8db9d6562d/bpmx/styles/column/images/more.png) no-repeat left center;
}
a.download{
   	background:url(https://wvpn.qust.edu.cn/http/77726476706e69737468656265737421f2e74cd236257b44300d8db9d6562d/bpmx/styles/column/images/arrow.png) 0 1px no-repeat;
   	display:inline-block;
   	height:14px;
   	margin-left:8px;
   	overflow:hidden;
   	width:14px;
   	text-decoration:none;
}
a.cancel{
   	background:url(https://wvpn.qust.edu.cn/http/77726476706e69737468656265737421f2e74cd236257b44300d8db9d6562d/bpmx/styles/column/images/cancel.png) 0 1px no-repeat;
   	display:inline-block;
   	height:14px;
   	margin-left:8px;
   	overflow:hidden;
   	width:14px;
   	text-decoration:none;
}

/*编辑模式*/
.view .formTable-wrap{
    width:100%;
    padding:0px;
  }
.view .formTable input[type="text"],.view .formTable select {
    width: 90%;
    margin-top: 20px;
}
.view table.formTable, .view td.teamHead,.view td.formTitle,.view td.formInput{
	border:1px  solid #000;
}

div[type="subtable"]  table span.attachement-span {
    display: inline-block;
    padding: 1px 3px 1px 5px;
    max-width: 100%;
    margin: 0 10px;
}
div[type="subtable"]  table span.attachement-span > span {
     display: inline-block;
     max-width: 85%;
}
div[type="subtable"]  table span.attachement-span > span a.attachment {
    display: inline-block;
    max-width: 100%;
    white-space: pre-wrap;
}
div[type="subtable"] table span.attachement-span > a.download {
    margin-left: -2px;
}

.listTable td.formInput textarea {
    font-size: 14px;
    padding-left: 10px;
    border: 1px solid #ced7e0;
    width: 95%;
}
.listTable td.formInput .l-text-wrapper {
    height: auto !important;
    width: 96% !important;
}
.listTable td.formInput .l-text-wrapper .l-text {
    width: 100% !important;
    height: 30px !important;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #ced7e0;
}
.listTable td.formInput .l-text-wrapper .l-text input {
	width: 96% !important;
    height: 32px !important;
}
.listTable td.formInput .l-text-wrapper .l-text .l-trigger,
.listTable tr.listRow td .l-text-wrapper .l-text .l-trigger {
    height: 34px !important;
    top: -1px;
    right: -1px;
    background: #459FFF;
    border: 1px solid #459FFF;
}
.listTable td.formInput > div input.role,
.listTable td.formInput > div input.roles,
.listTable td.formInput > div input.user,
.listTable td.formInput > div input.users,
.listTable td.formInput > div input.org,
.listTable td.formInput > div input.orgs,
.listTable td.formInput > div input.position,
.listTable td.formInput > div input.positions,
.listTable tr.listRow td > div input.role,
.listTable tr.listRow td > div input.roles,
.listTable tr.listRow td > div input.user,
.listTable tr.listRow td > div input.users,
.listTable tr.listRow td > div input.org,
.listTable tr.listRow td > div input.orgs,
.listTable tr.listRow td > div input.position,
.listTable tr.listRow td > div input.positions {
    width: 90%;
    height: 30px;
    padding: 2px;
    border: 1px solid #ced7e0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.listTable td.formInput > div a.role,
.listTable td.formInput > div a.roles,
.listTable td.formInput > div a.user,
.listTable td.formInput > div a.users,
.listTable td.formInput > div a.org,
.listTable td.formInput > div a.orgs,
.listTable td.formInput > div a.position,
.listTable td.formInput > div a.positions,
.listTable tr.listRow td > div a.role,
.listTable tr.listRow td > div a.roles,
.listTable tr.listRow td > div a.user,
.listTable tr.listRow td > div a.users,
.listTable tr.listRow td > div a.org,
.listTable tr.listRow td > div a.orgs,
.listTable tr.listRow td > div a.position,
.listTable tr.listRow td > div a.positions {
    padding: 0 13px;
    height: 37px;
    display: inline-block;
    background: #459FFF;
    line-height: 37px;
    color: #fff;
    font-size: 14px;
}
.listTable td.formInput div[name="div_attachment_container"] {
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 40px;
}
.listTable td.formInput div[name="div_attachment_container"] a.link {
	left: 6px;
}
.listTable td.formInput div[name="div_attachment_container"] a.link,
.listTable tr.listRow td div[name="div_attachment_container"] a.link {
    position: absolute;
    top: auto;
	bottom: 0;
    line-height: 36px;
    height: 36px;
    padding: 0 15px;
    background: #459FFF;
    color: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.listTable td.formInput select {
    width: 96.5%;
    font-size: 14px;
    padding-left: 10px;
    padding: 2px 10px;
    border: 1px solid #ced7e0;
}
.listTable td.formInput input[type="checkbox"],
.listTable td.formInput input[type="radio"] {
    width: 20px !important;
}
.listTable td.formInput input.Wdate {
    height: 36px;
}
table {
	width:100%;
}

div[type="subtable"] {
    position: relative;
    padding: 0 0 20px !important;
}

.l-tab-links {
    height: auto;
    position: absolute;
    width: auto;
    top: -35px;
    right: 4px;
}

/*审批历史*/
.startHis {
	width: 52%;
    margin: 0 24%;
    padding: 0 50px;
    background: #fff;
}

.content { clear:both; }

.listTable .listRow .oprate-item .oprate-inner.mobile{
	display:none;
}

.listTable .listRow .oprate-item .oprate-inner{
	display:inline-block;
}

.panel-toolbar .toolBar > div > .mobileLogo {
	display:none;
}

.panel-toolbar .toolBar > div.flowLogo {
	float: left;
	width: 25%;
}

.panel-toolbar .toolBar > div.flowButton {
	float: left;
	width: 75%;
}

@media(max-width:768px){
	/*手机端弹出框样式*/
    .listTable .listRow .oprate-item .oprate-inner{
        display:none;
    }
    .listTable .listRow .oprate-item .oprate-inner.mobile{
        display:inline-block;
    }

    .l-tab-links {
        top: -50px !important;
        right: 10px !important;
    }
    .listTable td.formTitle {
        width:45px !important;
    }
    .listTable td.formInput input {
        box-sizing: border-box;
        width: 100% !important;
    }

	.listTable .listRow .oprate-item .oprate-inner{
	  display:none;
	}
	 .listTable .listRow .oprate-item .oprate-inner.mobile{
	  display:inline-block;
	}
	
	.l-tab-links {
		top: -50px !important;
	    right: 10px !important;
	}
	.listTable td.formTitle {
		width:45px !important;
	}
	.listTable td.formInput input {
		box-sizing: border-box;
		    width: 100% !important;
	}
	/*手机端弹出框样式*/
	.panel-toolbar .toolBar > div > .mobileLogo {
		display:block;
		padding-left:15px;
	}   
	.panel-toolbar .toolBar > div > .pcLogo {
		display:none;
	}
	
	.panel-toolbar .toolBar > div.flowLogo {
		float: left;
		width: 15%;
	}   
	.panel-toolbar .toolBar > div.flowButton {
		float: left;
		width: 85%;
	}
	
	.listTable .listRow .oprate-item .oprate-inner{
	  display:none;
	}
	 .listTable .listRow .oprate-item .oprate-inner.mobile{
	  display:inline-block;
	}
	
	.l-tab-links {
		top: -50px !important;
	    right: 10px !important;
	}
	.listTable td.formTitle {
		width:45px !important;
	}
	.listTable td.formInput input {
		box-sizing: border-box;
		    width: 100% !important;
	}
    .panel-detail {
        margin: 5px 10px;
    }

    .page, .content, div[type="subtable"] {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin: 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .page > h1 {
        font-size: 18px;
    }

    div.title {
        margin: 10px 0 10px;
    }

    .block {
        width: 100%;
    }

    .block .block-input,
    .block .block-select,
    .block .block-fx,
    .block .block-inputfx,
    .block .block-dx,
    .block .block-ryxzq,
    .block .block-sjxzq,
    .block .block-fjsc,
    .block .block-textarea {
        padding-right: 0;
    }

    .block .block-fx label, .block .block-dx label {
        display: block;
    }

    div.title > p {
        font-size: 15px;
    }

    .inputText {
        width: 100% !important;
    }

    .taskopinion {
        width: 100%;
    }

    .panel-toolbar {
        float: right;
        width: 100%;
        height: auto !important;
        margin-bottom: 20px;
        padding: 15px 0;
    }

    .group {
        float: right;
        margin-right: 3px;
        margin-bottom: 5px;
    }

    .block .block-ryxzq a.link.user {
        right: 0;
    }

    .panel-toolbar .toolBar > img {
        max-height: 60px;
    }

    /* .panel-body {
        margin-top: 0px !important;
    }
 */
    .panel-toolbar .toolBar > img {
        display: none;
        max-height: 60px;
        margin-bottom: 5px;
    }

    .panel-toolbar .toolBar > img {
        max-height: 60px;
    }

	/* .panel-body {
		margin-top: 0px !important;
	}
 */
	.panel-toolbar .toolBar > img {
		display: none;
		max-height: 60px;
		margin-bottom: 5px;
	}

	.panel-toolbar .toolBar > div > img {
		display: none;
		max-height: 60px;
		margin-bottom: 5px;
		max-width: 100%;
	}

	.panel-toolbar a.link span {
		display: none !important;
	}

	.panel-toolbar a.link {
		padding: 0 5px !important;
	}
	.l-dialog-tck {
		width: 90%;
	}
	.listTable .child-menu {
	    padding-left: 5px;
	    width: 85px;
	}
	.listTable .child-menu>ul>li a {
	    font-size: 12px;
	}
	table.listTable tr.listRow td,
	table.listTable tr.listRow td input {
		min-width:75px;
	}
	table.listTable tr.listRow td {
		padding:5px 10px;
	}
	table.listTable tr.listRow td input {
		width:100%;
		padding-left: 10px;
	}
	.table-scroll {
		width:100%;
		overflow-x: scroll;
	}
}

.chooseJumpType {
	clear: both;
    display: inline-block;
}
.chooseJumpType span {
	display:inline-block;
}