.Wdate{
/* 	border:#999 1px solid; */
	height:20px;
	/*background:#fff url(datePicker.gif) no-repeat right;*/
	background:#fff url(datePicker.gif) no-repeat 98%;
	padding-right: 4px;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}